init:
- appveyor version

build_script:
- ps: 'Set-ItemProperty -Path HKCU:\SOFTWARE\Microsoft\VisualStudio\14.0_Config\MSBuild -Name EnableOutOfProcBuild -Value 0'
- '"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\devenv.com" SetupProjectTestApp.sln /build Debug /project Setup1\Setup1.vdproj /projectconfig Debug /Out errorFile.txt'

test: off
